# MA121
Правила игры в "Сапер":


1. Цель игры: В игре "Сапер" целью игрока является открытие всех безопасных клеток на игровом поле, не попадая на мины.


2. Игровое поле: Игровое поле представляет собой сетку клеток, в некоторых из которых скрыты мины. Игрок открывает клетки, чтобы найти безопасные участки и избежать мин.


3. Основные действия игрока:

   - Открывание клеток: Игрок открывает клетки, щелкая по ним мышью. Если в открываемой клетке есть мина, игра завершается неудачей.

   - Установка флажков: Игрок может помечать клетки, где он думает, что находится мина, устанавливая на них флажки. Это помогает осторожно открывать клетки и избегать взрывов.


4. Цифры: Цифры в открытых клетках указывают количество мин в соседних клетках. Игрок может использовать эту информацию для определения потенциально безопасных участков поля.


5. Проигрыш и победа:

   - Если игрок открывает клетку с миной, игра заканчивается неудачей.

   - Победа наступает, когда игрок открывает все безопасные клетки и правильно помечает все мины на игровом поле.


# MA121
